<% provide :title, t(".name") %>
<h1><%= t ".name" %></h1>
<p>
  <%= link_to t("footer.intro"), "http://www.railstutorial.org/" %>
  <%= link_to t(".name"), "http://www.railstutorial.org/book" %>
  <%= link_to "Ruby on Rails", "http://rubyonrails.org/" %>
  <%= t ".sample" %>
</p>
